<profile-page></profile-page>
<div class="container">
  <div class="table-responsive">          
    <table class="table marginTop">
      <thead>
        <tr>
          <th>Questions Asked By You:</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in ctrl.questionsList | orderBy: '-id'">
          <td><a ui-sref="questionAnsweredEntry({id: question.id})">
          <h3>{{question.title}}<h3></a>
          <h5>{{question.field}}<h5>
      </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
