
  <h3>A Question!</h3>
  <div>Username: {{ctrl.questionAndAnswers.question[0].name}}</div>
  <div>Title: {{ctrl.questionAndAnswers.question[0].title}}</div>
  <div>Text: {{ctrl.questionAndAnswers.question[0].text}}</div>
  <div>Reputation: {{ctrl.questionAndAnswers.question[0].reputation}}</div>

  <div ng-repeat="answer in ctrl.questionAndAnswers.answer">
    <div>Username: {{answer.name}}</div>
    <div>Text: {{answer.text}}</div>
    <div>Reputation: {{answer.reputation}}</div>

  </div>

  <button ui-sref="questionsAskedList">Close</button>