<md-content ng-if="!toolbarCtrl.auth.isAuthenticated" class="signin">
  <div class="bg"></div>
  <div class="homeText">
    <h1><strong>JOIN THE SLACK OVERFLOW COMMUNITY</strong></h1>
    <br>
    <h3 class="introDesc"><strong>Slack Overflow</strong> brings together programmers of all coding backgrounds from around the world to discuss, ask, and answer code. It combines the fundamental features of <strong>Stack Overflow</strong> and the instant direct messaging system of <strong>Slack</strong> to bring you the best of both worlds.</h3>
    <br>
    <h3><strong>Sign Up</strong> or <strong>Log In</strong> from the toolbar above to start exploring.</h3>
  </div>
</md-content>
