<md-toolbar>
  <div class="md-toolbar-tools black-background">
    <h2>
      <span ng-click="toolbarCtrl.redirectHome()">Slack Overflow</span>
    </h2>
      <span flex></span>
      <md-button
        aria-label="Login"
        ng-click="toolbarCtrl.login()"
        ng-if="!toolbarCtrl.auth.isAuthenticated">
        Login
      </md-button>

      <md-button
        aria-label="postQuestion"
        ui-sref="postQuestion"
        ng-if="toolbarCtrl.auth.isAuthenticated">
        Ask a Question
      </md-button>

      <md-button
        aria-label="QuestionsAskedList"
        ui-sref="questionsAskedList"
        ng-if="toolbarCtrl.auth.isAuthenticated">
        Help Others
      </md-button>

      <md-button
        aria-label="QuestionsAnsweredList"
        ui-sref="questionsAnsweredList"
        ng-if="toolbarCtrl.auth.isAuthenticated">
        Your Questions
      </md-button>

      <md-button
        aria-label="Profile"
        ui-sref="profile"
        ng-if="toolbarCtrl.auth.isAuthenticated">
        Profile
      </md-button>

      <md-button
        aria-label="Profile"
        ui-sref="chatPage"
        ng-if="toolbarCtrl.auth.isAuthenticated">
        Chat
      </md-button>

      <md-button
        aria-label="Logout"
        ng-click="toolbarCtrl.logout()"
        ng-if="toolbarCtrl.auth.isAuthenticated">
        Logout
      </md-button>
  </div>
</md-toolbar>